page-sound-listen {
    #btn-spinner{
        padding: 0 0.3em;
    }

    #btn-spinner img{
        width: 33px;
    }

    .card-md h1 {
        margin-bottom: 15px;
        font-size: 3rem;
        line-height: 3rem;
    }

    .card-md p {
        font-size: 2.3rem;
    line-height: 1.3;
    color: #999;
    }
}
