<ion-header>
  <ion-navbar>
    <ion-title>พุทธทาสศึกษา</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="search()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div id="headerBanner">
    <img src="./assets/imgs/home_header.png">
  </div>

  <h1>
      <ion-icon name="volume-up"></ion-icon> เสียงพุทธทาส
  </h1>

  <ion-list>
    <button ion-item *ngFor="let sound of sounds; let i = index" (click)="navigateToListen(sound)">
      <h1>{{ sound.title }}</h1>
      <p class="duration">
        <span *ngIf="sound.showed_at">
          <!-- <ion-icon name="md-time"></ion-icon> -->
          วันที่ {{ sound.showed_at | thaiDate }}
        </span>
        <span *ngIf="sound.duration" style="margin-left: 15px">
          ความยาว {{ sound.duration }} นาที
        </span>
      </p>
      <p class="date">
        <ion-icon name="md-time"></ion-icon> {{ sound.published_at | thaiDate:true }} &nbsp;
        <ion-icon name="headset"></ion-icon> 1,300
      </p>
    </button>
  </ion-list>

  <button ion-button full icon-only (click)="navigateToListenPage()">
    เสียงธรรมอื่น ๆ
    <ion-icon name="more"></ion-icon>
  </button>
  <br>

  <h1>
    <ion-icon name="book"></ion-icon> หนังสือ
  </h1>

  <ion-list>
    <button ion-item *ngFor="let book of books" (click)="navigateToBookDetail(book)">
      <div class="book-thumbnail">
        <img src="{{ book.image_thumb }}" *ngIf="book.image_thumb" />
      </div>
      <h1>{{ book.title }}</h1>
      <p class="description" *ngIf="book.description">
        {{ book.description }}
      </p>
      <p class="date">
        <ion-icon name="md-time"></ion-icon> {{ book.published_at | thaiDate:true }} น. &nbsp;
        <ion-icon name="eye"></ion-icon> {{ book.view | number }}
      </p>
    </button>
  </ion-list>

  <button ion-button icon-only full (click)="navigateToBookPage()">
    หนังสือ ๆ
    <ion-icon name="more"></ion-icon>
  </button>
  <br>

</ion-content>