page-book-category {
    .book-thumbnail {
        text-align: center;
    }
    .book-thumbnail img {
        max-height: 280px; 
        margin: 10px auto;
    }
    .description {
        font-size: 2rem !important;
    }
    .item-md h1 {
        white-space: nowrap;
        word-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
