<ion-header>

  <ion-navbar>
    <ion-title>หนังสือ</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="search()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="book-thumbnail">
    <img src="{{ book.image_thumb }}" *ngIf="book.image_thumb" />
  </div>
  <div text-center>
    <button ion-button (click)="read()">
        <ion-icon name="book"></ion-icon> &nbsp; อ่านหนังสือเล่มนี้
    </button>
  </div>
  <h1>{{ book.title }}</h1>
  <p class="description" *ngIf="book.subtitle">
    {{ book.subtitle }}
  </p>
  <p class="description" *ngIf="book.description">
    {{ book.description }}
  </p>
  <p class="date">
    <ion-icon name="md-time"></ion-icon> {{ book.published_at | thaiDate:true }} น. &nbsp;
    <ion-icon name="eye"></ion-icon> {{ book.view | number }}
  </p>

</ion-content>