<ion-header>

  <ion-navbar>
    <ion-searchbar #searchbar debounce="1000" placeholder="ค้นหาเสียง" [(ngModel)]="find" [showCancelButton]="shouldShowCancel"
      (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
    </ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- find: {{ find }} | isLoading: {{ isLoading }}
  <p>page: {{ page }} totalPage: {{ totalPage }}</p> -->

  <div id="searchLoading" *ngIf="isLoading && find" padding text-center>
    <img src="./assets/imgs/spinner.gif" />
  </div>

  <div *ngIf="!isLoading">
    <div id="searchResult" padding *ngIf="find">
      ผลการค้นหาพบ {{ totalItem }} รายการ
    </div>

    <ion-list no-lines *ngIf="!isLoading">
      <button ion-item *ngFor="let item of items" (click)="navigateToListen(item)">
        {{ item.title }}

        <div id="duration">
          <span *ngIf="item.showed_at">
            <ion-icon name="md-calendar"></ion-icon>
            <span>{{ item.showed_at | date }}</span>
          </span>
          <span *ngIf="item.duration" style="margin-left: 15px">
            <ion-icon name="md-time"></ion-icon>
            <span>{{ item.duration }} นาที</span>
          </span>
        </div>
      </button>
    </ion-list>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPage">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>