page-search {
    #searchLoading img{
        width: 50px;
    }
    #searchResult{
        color: #666;
        font-size: 2rem;
    }
    .icon-time-machinge {
        width: 20px;
        height: 20px;
        float: left;
        margin-right: 10px;
    }
}
