<ion-header>

  <ion-navbar>
    <ion-searchbar #searchbar debounce="500" placeholder="พิมพ์คำค้นหาเสียง" [(ngModel)]="find" [showCancelButton]="shouldShowCancel"
      (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
    </ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- find: {{ find }} | isLoading: {{ isLoading }}
  <p>page: {{ page }} totalPage: {{ totalPage }}</p> -->

  <div id="searchLoading" *ngIf="isLoading && find" padding text-center>
    <img src="./assets/imgs/spinner.gif" />
  </div>

  <div *ngIf="!isLoading">
    <div id="searchResult" padding *ngIf="find">
      ผลการค้นหาพบ {{ totalItem }} รายการ
    </div>

    <ion-list no-lines *ngIf="!isLoading">
      <button ion-item *ngFor="let item of items" (click)="navigateToListen(item)">
        {{ item.title }}

        <div id="duration">
            <span *ngIf="item.showed_at">
              <ion-icon name="md-time"></ion-icon>
              <span>{{ item.showed_at | thaiDate }}</span>
            </span>
            <span *ngIf="item.duration" style="margin-left: 15px">
              <span>ความยาว {{ item.duration }} นาที</span>
            </span>
          </div>
      </button>
    </ion-list>
  </div>

  <div id="searchLog" *ngIf="!find">
    <ion-list no-lines>
      <button ion-item *ngFor="let log of historyLog" (click)="historyClicked(log)">
        <img src="./assets/imgs/time-machine.png" class="icon-time-machinge" /> {{ log.name }}
        <p>{{ log.created_at }}</p>
      </button>
    </ion-list>
  </div>



  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPage">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>